@font-face {
  font-family: "iconfont"; /* Project id 4137645 */
  src: url('iconfont.woff2?t=1688914593400') format('woff2'),
       url('iconfont.woff?t=1688914593400') format('woff'),
       url('iconfont.ttf?t=1688914593400') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-listalt:before {
  content: "\e76d";
}

.icon-juyouduiqi:before {
  content: "\e6e6";
}

.icon-juzuoduiqi:before {
  content: "\e6e7";
}

.icon-juzhongduiqi:before {
  content: "\ec80";
}

.icon-zitijiacu:before {
  content: "\ec83";
}

.icon-youxuliebiao:before {
  content: "\e611";
}

.icon-close:before {
  content: "\e65b";
}

.icon-Next:before {
  content: "\e66c";
}

.icon-Previous:before {
  content: "\e671";
}

.icon-chongwutubiao18:before {
  content: "\e604";
}

.icon-yuanshujumianban:before {
  content: "\e786";
}

.icon-liebiao:before {
  content: "\e620";
}

.icon-ding:before {
  content: "\eac1";
}

.icon-shengxu:before {
  content: "\e683";
}

.icon-c097jiangxupaixu:before {
  content: "\e608";
}

.icon-add:before {
  content: "\e605";
}

.icon-remove:before {
  content: "\e60f";
}

.icon-a-setup:before {
  content: "\e63b";
}

.icon-edit:before {
  content: "\e609";
}

.icon-a-hierarchicallist:before {
  content: "\e60a";
}

.icon-show-list:before {
  content: "\e610";
}

.icon-delete:before {
  content: "\e62c";
}

